.pageHeader {
    text-align: center;
    margin: 10px;
}

.list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.shop {
    border: 1px dotted black;
    padding: 0.2em;
    margin: 0 0.5em;
    flex-basis: 30%;
    text-align: left;
}
